@import "tailwindcss";

@theme {
  --color-telegram: #50a2e9;
  --color-telegram-dark: #17212b;
}

@layer base {
  body {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Hide scrollbar for mobile */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
